@use "./partials/variables" as *;

$fa-font-path: "../webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";

@import "bootstrap/scss/bootstrap";


 
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

// WEBKIT SCROLLBAR

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background-color: black;
}

html::-webkit-scrollbar-thumb {
  background: #26272b;
  border-radius: 25px;
}

body {
  font-family: "Montserrat", sans-serif;
}

// background: url("./../assets/image/bg-body-top.jpg");

.button {
  background-color: #fec7d7;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}

.button-pink {
  background-color: white;
  color: black;
  border: 2px solid #fec7d7;
}

.button-pink:hover {
  background-color: #fec7d7;
  color: black;
}

.button-black {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}
.button-black:hover {
  background-color: #fec7d7;
  color: black;
}


.jumbo{
  height: 400px;
  width: 100%;
  object-fit: cover;
}
